<section class="probootstrap-cover">
  <div class="container">
    <div class="row align-items-center text-left" style="padding-top:5em;">
      <div class="col-sm">
        <div class="probootstrap-text pt-5">
          <h1 class="probootstrap-heading text-white mb-4">Bakeries</h1>
          <div class="probootstrap-subheading mb-5">
            <% if user_signed_in? %>
              <% if current_user.baker? && !@mybakery %>
                <%= link_to 'New Bakery', new_bakery_path %>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="probootstrap-section">
  <div class="container">
    <% if @bakeries %>
      <div class="row">
        <% @bakeries.each do |bakery| %>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="<%= image_url bakery.picture %>" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">
                  <%= link_to bakery.company_name, bakery %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>