<h1>Bakeries</h1>

<% @bakeries.each do |bakery| %>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="<%= image_url bakery.picture  %>" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">
        <%= link_to bakery.company_name, bakery  %>
      </p>
    </div>
  </div>
<% end %>