<section class="probootstrap-cover">
  <div class="container">
    <div class="row probootstrap-vh-75 align-items-center text-left">
      <div class="col-sm">
        <div class="probootstrap-text pt-5">
          <h1 class="probootstrap-heading text-white mb-4">
            <strong>Name:</strong>
            <%= @category.name %>
          </h1>

          <%= link_to 'Edit', edit_category_path(@category) %> |
          <%= link_to 'Back', categories_path %>
        </div>
      </div>
    </div>
  </div>
</section>